.left-menu {
  width: 280px;
  height: 100%;
  min-height: 100vh;
  background: rgba(34, 34, 34, 0.6);
  transition: all 0.3s cubic-bezier(0.175,0.885,0.32,1.275);
  backdrop-filter: blur(10px);
  overflow: hidden;
  padding: 20px 15px;
}
.left-menu .logo-container {
  color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-menu .logo-container i {
  font-size: 30px;
}
.left-menu .logo-container i:nth-of-type(2) {
  font-size: 20px;
}
.left-menu .logo-container h2 {
  font-size: 20px;
}
.left-menu .serach-box {
  width: 100%;
  height: 40px;
  position: relative;
  background-color: #848484;
  overflow: hidden;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
.serach-box input {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  outline: none;
  padding-left: 45px;
  border: none;
  color: #f1f1f1;
  font-size: 14px;
  font-weight: bold;
}
.serach-box i {
  color: #848484;
  top: 0;
  position: absolute;
  left: 0;
  font-size: 20px;
  text-align: center;
  line-height: 45px;
  width: 45px;
  height: 45px;
}
.menu-container {
  margin: 10px 0px;
}
.menu-container .title {
  color: #848484;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
}
.menu-container ul {
  padding: 0%;
  width: 100%;
}
.menu-container ul li {
  position: relative;
  list-style: none;
  margin: 5px 0px;
  padding: 5px 0px;
  width: 100%;
}
.menu-container ul li a {
  text-decoration: none;
  color: #848484;
  align-items: center;
  font-size: 16px;
  display: flex;
}
.menu-container ul li:hover a .menu-container ul li.active a {
  color: #f1f1f1;
  transition: 0.3s ease;
}
.menu-container ul li::before {
  content: "";
  position: absolute;
  background: #49e12e;
  width: 0px;
  height: 100%;
  border-radius: 5px;
  top: 0%;
  left: -15px;
}
.menu-container ul li:hover:before,
.menu-container ul li.active:before {
  width: 5px;
  transition: 0.3s ease;
}
.menu-container ul li a i {
  font-size: 18px;
  margin-right: 15px;
}
/* .playlist-menu-container {
  cursor: pointer;
  margin: 15px 0px;
} */
.playlist-menu-container .name-container {
  color: #848484;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.playlist-menu-container .name-container i{
    cursor: pointer;
    color: #f1f1f1;
} 
.playlist-menu-container .playlist-container{
    height: 140px ;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}
.playlist-menu-container .playlist-container .play-list{
    display: flex;
    color: #848484;
    align-items: center;
    margin: 10px 0;
}
.playlist-menu-container .playlist-container .play-list:hover{
    color: #f1f1f1;
    transition: 0.3s ease;
}
.playlist-menu-container .playlist-container .play-list i{
    font-size: 18px;
}
.playlist-menu-container .playlist-container .play-list .list-icon{
 margin-right: 15px;
}
.playlist-menu-container .playlist-container .play-list .trash-icon{
    margin-left: auto;
}
.playlist-menu-container .playlist-container .play-list p{
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline;
}
.tracklist{
    border-top: 1px solid rgba(255,255,255,0.1);
    padding-top: 10px;
}
.tracklist .top{
    display: flex;
    align-items: center;
}
.tracklist .top img{
    width: 50px !important;
}
.tracklist .top p{
    margin-left: 10px;
    font-size: 14px;
    color: #f1f1f1;
}
.tracklist .top p span{
    display: block;
    color: #848484;
    font-size: 12px;
}
.tracklist .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #848484;
    margin-top: 10px;
}
.tracklist .bottom i{
    font-size: 14px;
}
.tracklist .bottom i:hover{
    color: #f1f1f1;
    cursor: pointer;
    transition: 0.3s ease;

}
.tracklist .bottom input {
    position: relative;
    height: 5px;
    border: none;
    outline: none;
    appearance: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
  }
  
  /* chrome and safari browser */
  .tracklist .bottom input::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: #49e12e;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    z-index: 2;
    transition: width 250ms linear;
  }
  
  .tracklist .bottom input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid #000;
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
    transition: all 250ms linear;
    background: #f1f1f1;
  }
  @media screen and (max-width:550px) {
      .left-menu{
          width: 64px;
          min-width: 64px;
      }
      .left-menu .logo-container h2{
          display: none;
      }
      .left-menu .logo-container i:nth-of-type(2){
        display: none;
    }
      .left-menu .serach-box{
          display: none;
      }
      .menu-container .title{
          display: none;
      }
      .menu-container ul li a span{
          display: none;
      }
      .menu-container ul li a i{
          font-size: 26px;
      }
      .menu-container ul li {
          margin: 25px 0;
      }
      .tracklist{
          display: none;
      }
      .playlist-menu-container{
          display: none;
      }
  }